* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

html {
  background-color: black;
}
